html::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 100%;
  height: 50px;
  margin-top: 0px;
  position: fixed;
  z-index: 10;
}

.pro {
  position: absolute;
  color: white;
  left: 35px;
  font-size: 30px;
  z-index: 5;
  bottom: -3vh;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-right: 85px;
  opacity: 0.9;
  gap: 40px;
  margin-bottom: 0;
}

.pers {
  position: absolute;
  filter: invert(1);
  height: 28px;
  width: 28px;
  right: 55px;
  top: 18px;
  cursor: pointer;
}

li {
  color: white;

}

li a {
  margin: 0 19px;
  font-family: Arial, Helvetica;
  font-weight: 550;
  font-size: 19px;
  color: white;
  text-decoration: none;
  transition: opacity 0.5s ease;

}

li a:hover {
  font-size: 21px;
  opacity: 1.2;
}

.cover {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  justify-items: center;
  background-color: black;
  top: 0;
}

.fahli {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  margin-top: 0;
}

.one {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 90px;
  bottom: 5px;
  opacity: 0.8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: default;
}

.two {
  position: absolute;
  color: white;
  bottom: 25px;
  z-index: 3;
  font-size: 17px;
  opacity: 0.9;
}

.expl {
  position: relative;
  height: 100vh;
  width: 100%;

  z-index: 4;
}

.sur {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.tp {
  position: absolute;
  z-index: 3;
  color: white;
  font-size: 38px;
  bottom: 140px;
  left: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.histo {
  position: absolute;
  z-index: 4;
  color: white;
  bottom: 80px;
  left: 50px;
}

.run {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 6;
}

.tit {
  position: absolute;
  top: 200px;
  font-size: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  color: white;
}

.line {
  overflow: hidden;
  display: block;
}

.line span {
  display: inline-block;
}

.qr1 {
  margin-left: 36px;
  font-size: 60px;
}

.qr2 {
  margin-left: 10px;
  font-size: 60px;
}

.Pahlawan_1 {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  position: relative;
}

.Pahlawan_Image {
  width: 300px;
  height: 345px;
  position: absolute;
  right: 100px;
  top: 150px;
}

.Pahlawan_Nama {
  color: white;
  position: absolute;
  font-size: 50px;
  left: 100px;
  top: 100px;
}

.Pahlawan_Bio {
  width: 500px;
  height: 355px;
  color: white;
  position: absolute;
  left: 100px;
  top: 250px;
  text-align: justify;
}

.NgurahRai {
  width: 100%;
  height: 100%;
  overflow: cover;
  border-radius: 20px;
}

.Pahlawan_2 {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  position: relative;
}

.Pahlawan_Image_2 {
  width: 300px;
  height: 345px;
  position: absolute;
  left: 100px;
  top: 150px;
}

.Pahlawan_Nama_2 {
  color: white;
  position: absolute;
  font-size: 50px;
  right: 380px;
  top: 100px;
}

.Pahlawan_Bio_2 {
  width: 500px;
  height: 355px;
  color: white;
  position: absolute;
  right: 100px;
  top: 250px;
  text-align: justify;
}

.Pattimura {
  width: 100%;
  height: 100%;
  overflow: cover;
  border-radius: 20px;
}
